<div class="container" ng-controller="RegistroClienteCtrl">
    <section class="content-header">
        <h1 class="page-header">Registro Cliente
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Registro Cliente</li>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <div class="row">
            <div class="col-xs-12">
                <!-- Panel Basic -->
                <div class="panel">
                    <div class="panel-body" style="padding-bottom: 10px">
                        <form id="form" ng-submit="registrar()">
                            <div id="form_wrapper"></div>
                            <div style="clear: both"></div>
                            <input id="csrfmiddlewaretoken" type="hidden" name="csrfmiddlewaretoken" value="">
                            <div class="form-group" style="margin-top: 25px">
                                <button type="submit" class="btn btn-primary"><i
                                        class="ion-android-done"></i>&nbsp;&nbsp;Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Panel Basic -->
        </div>
    </section>
</div>