.form-group {
    overflow: auto;
    margin-bottom: 10px;
}

select[multiple] {
    height: 175px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #00a65a;
    border-color: #00a65a;
}

.errorlist {
    color: lightcoral;
}

.login-text {
    font-size: 40px;
}

@media (min-width: 768px) {
    .login-text {
        font-size: 50px;
    }
}

/* ADMINLTE */
.content-header {
    padding: 20px 15px 0 15px;
}

.attachment-block {
    border: 1px solid #f4f4f4;
    padding: 5px;
    margin-bottom: 10px;
    background: #f7f7f7;
}

.attachment-block .attachment-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
}

.attachment-block .attachment-pushed {
    margin-left: 110px;
}

.attachment-block .attachment-heading {
    margin: 0;
}

.attachment-block .attachment-text {
    color: #555;
}

.th-footer-h5 h5 {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.filtros {
    text-align: right;
}

.pedido-table-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
}

.producto-img {
    max-width: 200px;
    max-height: 200px;
}

.error-oculto {
    display: none;
}

.error-visible {
    display: block;
}

/* SOCIAL */
.social {
    width: 200px;
    height: 220px;
    position: fixed;
    margin-top: 120px;
    perspective: 1000px;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;
}

.social li a {
    display: block;
    height: 20px;
    width: 40px;
    background: #00a65a;
    border-bottom: 1px solid #00a65a;
    font: normal normal normal 16px/20px 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 10px 0 30px 0;
    text-decoration: none;
    text-align: center;
    transition: background .5s ease .300ms
}

.social li:first-child a:hover {
    background: #3b5998
}

.social li:nth-child(2) a:hover {
    background: #00acee
}

.social li:nth-child(3) a:hover {
    background: #ea4c89
}

.social li:nth-child(4) a:hover {
    background: #dd4b39
}

.social li:first-child a {
    border-radius: 0 5px 0 0
}

.social li:last-child a {
    border-radius: 0 0 5px 0
}

.social li a span {
    width: 100px;
    float: left;
    text-align: center;
    background: #222;
    color: #fff;
    margin: -25px 74px;
    padding: 8px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 5px;
    transition: all .5s ease .300ms
}

.social li span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid #222;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.social li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0)
}