<div class="container" ng-controller="HorarioCtrl">
    <section class="content-header">
        <h1 class="page-header">Horario de Distribución
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <button type="button" class="btn btn-primary" ng-click="modalHorarioDistribucion()">
                <li class="active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Crear Horario de Distribución</li>
            </button>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <!-- horario -->
        <div class="row" style="margin-top: 10px">
            <div ng-if="horarios.length > 0">
                <div ng-repeat="horario in horarios" class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <div ng-class="{'box box-success':horario.estado, 'box box-danger': !horario.estado}">
                        <br>
                        <div class="row text-center">
                            <p style="font-size: 19px; margin-bottom: 0">{{ horario.diaSemana }}
                                - {{ horario.hora }}</p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-5">
                                <i class="fa fa-toggle-on active"
                                   style="font-size:30px;cursor:pointer;color:#00a65a"
                                   ng-if="horario.estado" ng-click="cambiarEstadoHorario(horario.id)">
                                </i>
                                <i class="fa fa-toggle-on fa-rotate-180 inactive"
                                   style="font-size:30px;cursor:pointer;color:#d9534f"
                                   ng-if="!horario.estado" ng-click="cambiarEstadoHorario(horario.id)">
                                </i>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <p ng-if="!horarios.length > 0">No hay horario de distribución definido para la semana.</p>
        </div>
        <!-- /horario -->

        <!-- pagination -->
        <div ng-if="horarios.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#horario/{{ num_anterior }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#horario/{{ ($index+1) }}">{{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page" ng-href="#horario/{{ num_siguiente }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>

    <!-- modals -->
    <!-- Horario Distribución -->
    <div class="modal fade" id="modalHorarioDistribucion" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Horario de Distribución</h4>
                </div>
                <div class="modal-body">
                    <p>Seleccione un Dia de Distribución:</p>
                    <select class="form-control"
                            ng-options="dia as dia.diaSemana for dia in dias track by dia.id"
                            ng-model="diaSemana"></select>
                    <br>
                    <p>Ingrese una Hora de Distribución:</p>
                    <div class="input-group clockpicker">
                        <input type="time" class="form-control" value="06:30" ng-model="hora">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-xs-12 text-center">
                            <span style="margin-top: 5px; color:RED">{{ mensaje }}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="button" class="btn btn-primary"
                                    ng-click="guardarHorarioDistribucion()">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Horario Distribución -->
    <!-- /modals -->
</div>