<div class="container" ng-controller="AdminNotificarCtrl">
    <section class="content-header">
        <h1 class="page-header">Notificar Disponibilidad
            <small>CanastaOrgánica</small>
        </h1>
    </section>
    <section class="content" style="padding-top: 5px">
        <div class="row" style="margin-top: 10px">
            <div class="box" style="padding: 5px">
                <div class="box-header">
                    <h4 style="margin: 0"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Enviar Correos</h4>
                </div>
                <div class="box-body">
                    <p>Se envía un correo a los consumidores con la lista de productos que se encuentran en su lista de
                        deseos y que están en oferta para el periodo actual.</p>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default" ng-click="enviarCorreos()">Enviar Correos</button>
                </div>
            </div>
        </div>
    </section>
</div>