<div class="container" ng-controller="OrdenesCtrl">
    <section class="content-header">
        <h1 class="page-header">Órdenes de compra
            <small>CanastaOrgánica</small>
        </h1>
    </section>

    <section class="content" style="padding-top: 5px">
        <div id="id_loading" class="overlay" style="text-align: center; font-size: 35px">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="box" id="id_catalogo_wrapper" style="display: none">
                <div class="box-body table-responsive">
                    <table ng-if="ordenes.length > 0" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>No. Orden</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Cliente</th>
                            <th>Valor Total</th>
                            <th>Estado</th>
                        </tr>
                        <tr ng-repeat="orden in ordenes">
                            <td>{{ orden.id }}</td>
                            <td>{{ orden.fechaCreacion }}</td>
                            <td>{{ orden.horario_distribucion.diaSemana }}
                                - {{ orden.horario_distribucion.hora }}</td>
                            <td>{{ orden.user.username }}</td>
                            <td>${{ orden.valor_total }}</td>
                            <td>
                                <span ng-if="orden.estado == 'PEN'" class="label label-warning">Pendiente</span>
                                <span ng-if="orden.estado == 'PAG'" class="label label-success">Pagado</span>
                                <span ng-if="orden.estado == 'REC'" class="label label-danger">Rechazado</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!ordenes.length > 0" class="col-xs-12">
                        <p style="margin-top: 5px">No hay órdenes para esta semana.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div ng-if="ordenes.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#admin/orden/{{ num_anterior }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#admin/orden/{{ ($index+1) }}">
                            {{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page"
                           ng-href="#admin/orden/{{ num_siguiente }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>
</div>