<div class="container" ng-controller="PrecioCtrl">
    <section class="content-header">
        <h1 class="page-header">Lista de Precios
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-usd"></i>&nbsp;&nbsp;Lista de Precios</li>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <!-- Selección de semana -->
        <div class="row">
            <div class="col-xs-2">
                <p>Seleccione una semana:</p>
            </div>
            <div class="col-xs-4">
                <select class="form-control"
                        ng-options="semana as semana.label for semana in semanas track by semana.id"
                        ng-model="semanaSlc" ng-change="cambioSemana()"></select>
            </div>
        </div>
        <br>
        <!-- /Selección de semana -->

        <!-- ordenes -->
        <div class="row" style="margin-top: 10px">
            <div ng-if="ofertas.length > 0">
                <div ng-repeat="oferta in ofertas" class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <div class="box box-success">
                        <div class="clearfix"></div>
                        <div class="attachment-block clearfix" style="height: 100%">
                                <img class="attachment-img" ng-src="{{ oferta.producto.foto }}"
                                     alt="Attachment Image" width="50%" height="50%">
                                <div class="attachment-pushed">
                                    <div class="attachment-text" style="max-height: 200px;
                                         font-size: 15px; text-align: left">
                                        <b>{{ oferta.producto.nombre }}</b>
                                        <br>
                                        Precio Venta {{ oferta.producto.tipoUnidad.nombre }}
                                        <div class="input-group clockpicker">
                                            <i class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </i>
                                            <input type="number" class="form-control" ng-model="oferta.valorVenta"
                                                   ng-disabled="{{ !activo }}" ng-blur="cambioValor(oferta.id)">
                                        </div>
                                    </div>
                                    <!-- /.attachment-text -->
                                </div>
                                <br>
                                <div class="clearfix"></div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="mostrarPreciosProductores(oferta.id)">
                                        <i class="fa fa-eye"></i>
                                        Precio Productores</button>
                                </div>
                                <!-- /.attachment-pushed -->
                        </div>



                </div>
            </div>
            <p ng-if="!ofertas.length > 0">No hay ofertas de productos para la semana.</p>
        </div>
        <!-- /productos -->

        <!-- pagination -->
        <div ng-if="ofertas.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#precio/{{ num_anterior }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#precio/{{ ($index+1) }}">{{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page" ng-href="#precio/{{ num_siguiente }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>

        <!-- modals -->
    <!-- Horario Distribución -->
    <div class="modal fade" id="modalPreciosProductores" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Precios Productores </h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix"></div>
                    <div class="attachment-block clearfix" style="height: 100%">
                        <img class="attachment-img" ng-src="{{ productoModal.foto }}"
                             alt="Attachment Image" width="20%" height="20%">
                        <div class="attachment-pushed">
                            <div class="attachment-text" style="max-height: 200px;
                                         font-size: 15px; text-align: left">
                                <b>{{ productoModal.nombre }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row text-center" ng-repeat="ofertaProductor in ofertasProductores">
                        <div class="col-xs-4">
                            <p>{{ ofertaProductor.productor.user.username }}</p>
                        </div>
                        <div class="col-xs-4">
                            <p>{{ ofertaProductor.valorCompra }} {{ ofertaProductor.producto.tipoUnidad.nombre }}</p>
                        </div>
                        <div class="col-xs-4">
                            <p ng-if="ofertaProductor.productor.certificado">Certificado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Horario Distribución -->
    <!-- /modals -->
</div>