<div class="container" ng-controller="ProductoTipoCtrl">
    <section class="content-header">
        <h1 class="page-header">Canasta de Productos
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <button type="button" class="btn btn-primary" ng-click="modalProductosCanasta(0)" ng-disabled="!activo">
                <li class="active"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Crear Canasta de Productos</li>
            </button>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <!-- Selección de semana -->
        <div class="row">
            <div class="col-xs-2">
                <p>Seleccione una semana:</p>
            </div>
            <div class="col-xs-4">
                <select class="form-control"
                        ng-options="semana as semana.label for semana in semanas track by semana.id"
                        ng-model="semanaSlc" ng-change="cambioSemana()" ></select>
            </div>
        </div>
        <br>
        <!-- /Selección de semana -->

        <!-- productos canasta -->
        <div class="row" style="margin-top: 10px">
            <div ng-if="ofertas.length > 0">
                <div ng-repeat="oferta in ofertas" class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <div class="box box-success">
                        <div class="col-xs-1 col-xs-offset-11" style="padding: 3px 15px 0 0">
                            <button type="button" class="close" style="font-size: 20px" ng-disabled="!activo"
                                    ng-click="eliminarProductoItem(oferta.id)">×
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="attachment-block clearfix" style="height: 100%">
                            <img class="attachment-img" ng-src="{{ oferta.producto.foto }}"
                                 alt="Attachment Image" width="50%" height="50%">
                            <div class="attachment-pushed">
                                <div class="attachment-text" style="max-height: 200px;
                                         font-size: 15px; text-align: left">
                                    <b>{{ oferta.producto.nombre }}</b>
                                    <br>
                                    Precio Venta {{ oferta.producto.tipoUnidad.nombre }}
                                    <div class="input-group clockpicker">
                                        <i class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </i>
                                        <input type="number" class="form-control" ng-model="oferta.valorVenta"
                                               ng-disabled="{{ !activo }}" ng-blur="cambioValor(oferta.id)">
                                    </div>
                                </div>
                                <!-- /.attachment-text -->
                            </div>
                            <br>
                            <div class="clearfix"></div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary"
                                        ng-click="modalProductosCanasta(oferta.id)">
                                    <i class="fa fa-eye"></i>
                                    Productos
                                </button>
                            </div>
                            <!-- /.attachment-pushed -->
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="!ofertas.length > 0">No hay ofertas de canastas para la semana.</p>
            <!-- /productos canasta -->

            <!-- pagination -->
            <div ng-if="ofertas.length > 0" class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination" style="margin-top: 0">
                        <li ng-class="{'disabled': num_anterior == page}">
                            <a ng-if="num_anterior < page" ng-href="#precio/{{ num_anterior }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            <a ng-if="num_anterior == page" aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                            <a ng-if="($index+1) != page" ng-href="#precio/{{ ($index+1) }}">{{ ($index+1) }}</a>
                            <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                        </li>
                        <li ng-class="{'disabled': num_siguiente == page}">
                            <a ng-if="num_siguiente > page" ng-href="#precio/{{ num_siguiente }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            <a ng-if="num_siguiente == page" aria-label="Next"><span
                                    aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /pagination -->
        </div>
    </section>

    <!-- modals -->
    <!-- Productos de la Canasta -->
    <div class="modal fade" id="modalProductosCanasta" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Productos </h4>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                    <div class="clearfix"></div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Valor Unitario</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="oferta in ofertasModal">
                            <td>
                                <input type="checkbox" ng-checked="{{ oferta.estado }}" ng-disabled="{{ !activo }}"
                                       ng-click="seleccionarOferta(oferta.id)">
                            </td>
                            <td><img class="attachment-img" ng-src="{{ oferta.producto.foto }}"
                                     alt="Attachment Image" width="30%" height="15%">
                                {{ oferta.producto.nombre }}</td>
                            <td>
                                <input class="form-control input-sm" type="number"
                                       ng-model="oferta.cantidad" ng-disabled="{{ !activo }}">
                            </td>
                            <td>{{ oferta.valorVenta }}</td>
                            <td>
                                {{ oferta.valorVenta * oferta.cantidad }}
                            </td>
                            <td>{{ oferta.producto.tipoUnidad.nombre }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <p style="color: red">{{ mensaje }}</p>
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="button" class="btn btn-primary" ng-click="guardarCanasta()">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Productos de la Canasta -->
    <!-- /modals -->
</div>