<div class="container" ng-controller="AdminProductosCtrl">
    <section class="content-header">
        <h1 class="page-header">Registro de Productos
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <button type="button" class="btn btn-primary" ng-click="abrirModalNuevoProducto()">
                <li class="active"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Nuevo Producto</li>
            </button>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <div id="id_loading" class="overlay" style="text-align: center; font-size: 35px">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="box" id="id_producto_wrapper" style="display: none">
                <div ng-if="productos.length > 0">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Unidad</th>
                            </tr>
                            <tr ng-repeat="producto in productos">
                                <td>
                                    <img class="producto-img" ng-src="{{ producto.foto }}">
                                </td>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.tipoUnidad.nombre }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-if="!productos.length > 0" class="col-xs-12">
                    <p>No hay productos.</p>
                </div>
            </div>
        </div>
        <!-- pagination -->
        <div ng-if="productos.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#admin/producto/{{ num_anterior }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#admin/producto/{{ ($index+1) }}">{{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page" ng-href="#admin/producto/{{ num_siguiente }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>

    <!-- modals -->
    <!-- Crear producto -->
    <div class="modal fade" id="modalNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Nuevo Producto</h4>
                </div>
                <div class="modal-body">
                    <form id="form" method="post" ng-submit="guardarProducto()" enctype="multipart/form-data">
                        <div id="form_wrapper"></div>
                        <div style="clear: both"></div>
                        <input id="csrfmiddlewaretoken" type="hidden" name="csrfmiddlewaretoken" value="">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <!-- /Crear producto -->
    <!-- /modals -->
</div>