<div class="container" ng-controller="AdminProductoresCtrl">
    <section class="content-header">
        <h1 class="page-header">Gestión Productores
            <small>CanastaOrgánica</small>
        </h1>
    </section>
    <section class="content" style="padding-top: 5px">
        <!-- horario -->
        <div class="row" style="margin-top: 10px">
            <div ng-if="productores.length > 0">
                <div ng-repeat="productor in productores" class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <div ng-class="{'box box-success':productor.activo, 'box box-danger': !productor.activo}">
                        <br>
                        <div class="row text-center">
                            <p style="font-size: 19px; margin-bottom: 0">{{ productor.user.username }}
                                <small><i ng-if="productor.certificado" class="fa fa-certificate"></i></small>
                            </p>
                            <p>
                                <small>{{ productor.telefono }}</small>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-5">
                                <i class="fa fa-toggle-on active"
                                   style="font-size:30px;cursor:pointer;color:#00a65a"
                                   ng-if="productor.activo" ng-click="cambiarEstadoProductor(productor.id)">
                                </i>
                                <i class="fa fa-toggle-on fa-rotate-180 inactive"
                                   style="font-size:30px;cursor:pointer;color:#d9534f"
                                   ng-if="!productor.activo" ng-click="cambiarEstadoProductor(productor.id)">
                                </i>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <p ng-if="!productores.length > 0">No hay productores.</p>
        </div>
        <!-- /horario -->

        <!-- pagination -->
        <div ng-if="productores.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#admin/productores{{ num_anterior }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#admin/productores/{{ ($index+1) }}">{{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page" ng-href="#admin/productores/{{ num_siguiente }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>
</div>