<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load track_extra %}
<head>
    <meta charset="UTF-8">
    <title>Pagos de los Alpes | {% block title %}{% endblock %}</title>
    <!-- CSS -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static "3rdParty/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Fonts -->
    <link href="{% static "3rdParty/plugins/fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "3rdParty/plugins/ionicons/css/ionicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Theme Styles -->
    <link href="{% static "3rdParty/AdminLTE/css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "3rdParty/AdminLTE/css/skins/skin-purple-light.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Extra Styles -->
    {% block extra_css %}{% endblock %}
    <!-- App Styles -->
    <link href="{% static "css/webApp.css" %}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static "3rdParty/plugins/jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    <script>
        var PAGOS = {
            config: {
                url_base: window.location.origin + "/"
            }
        }
    </script>
</head>
<body class="skin-purple-light layout-top-nav">
<div class="wrapper">
    <header class="main-header">
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">Pagos de los Alpes</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <!-- input type="text" class="form-control" id="navbar-search-input" placeholder="Buscar" -->
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->

                <div class="navbar-custom-menu">
                    <!-- Collect the nav links, forms, and other content for toggling -->
{#                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                        <ul class="nav navbar-nav">#}
{#                            {% if user.username %}#}
{#                                <li>#}
{#                                    <a href="{% url 'usuario' %}">#}
{#                                        <i class="fa fa-user"></i>&nbsp;&nbsp;Usuario</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Salir</a>#}
{#                                </li>#}
{#                            {% else %}#}
{#                                <li>#}
{#                                    <a href="{% url 'register' %}" data-toggle="modal" data-target="#modalRegistro">#}
{#                                        <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Registrar</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a style="cursor: pointer" data-toggle="modal" data-target="#modalLogin">#}
{#                                        <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Ingresar</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{#                    </div>#}
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 480px;">
        <div class="container">
            <section class="content-header">
                {% block content_header %}
                {% endblock %}
            </section>
            <section class="content" style="padding-top: 5px">
                {% if messages %}
                    {% for message in messages %}
                        <div class="col-lg-12" id="mensaje_{{ forloop.counter }}">
                        {% if message.tags == "error" %}
                            <div class="callout callout-danger">
                        {% else %}
                            <div class="callout callout-info">
                        {% endif %}
                    <h4>Mensaje:</h4>
                    <p>{{ message|safe }}</p>
                    </div>
                    </div>
                        <script>
                            setTimeout(function () {
                                $("#mensaje_" + "{{ forloop.counter }}").fadeOut();
                            }, 5000);
                        </script>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
                <div class="clearfix"></div>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Versión</b> 1.0
        </div>
        {% block content_footer %}{% endblock %}&nbsp;
    </footer>
</div>
<!-- ./wrapper -->

<!-- SCRIPTS -->
<script src="{% static "3rdParty/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/AdminLTE/js/app.min.js" %}" type="text/javascript"></script>
<!-- Plugins Scripts -->
<script src="{% static "3rdParty/plugins/slimScroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
<!-- Extra Scripts -->
{% block extra_js %}{% endblock %}
<!-- App Scripts -->
<script src="{% static "js/webApp.js" %}" type="text/javascript"></script>
</body>
</html>