<!DOCTYPE html>
<html ng-app="site">
{% load staticfiles %}
{% load djng_tags %}
<head>
    <meta charset="UTF-8">
    <title>CanastaOrgánica</title>
    <!-- CSS -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static "3rdParty/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Theme Styles -->
    <link href="{% static "3rdParty/AdminLTE/css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "3rdParty/AdminLTE/css/skins/skin-green.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Fonts -->
    <link href="{% static "3rdParty/plugins/fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "3rdParty/plugins/ionicons/css/ionicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Plugins -->
    <link href="{% static "3rdParty/plugins/ngprogress/ngProgress.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "3rdParty/plugins/bootstrap-sweetalert/sweet-alert.min.css" %}" rel="stylesheet"
          type="text/css">
    <link href="{% static "3rdParty/plugins/alertify/css/alertify.css" %}" rel="stylesheet" type="text/css"/>
    <!-- App Styles -->
    <link href="{% static "css/webApp.css" %}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<ul class='social'>
    <li>
        <a class="fa fa-facebook" href="https://www.facebook.com/profile.php?id=100012196082517" target="_blank">
            <span>Facebook</span>
        </a>
    </li>

    <li>
        <a class="fa fa-twitter" href="https://twitter.com/canastagrupo3" target="_blank">
            <span>Twitter</span>
        </a>
    </li>
</ul>
<body class="skin-green layout-top-nav" ng-controller="MainCtrl">
<div class="wrapper">
    <header class="main-header">
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">Canasta<b>ORGÁNICA</b></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                {% angularjs %}
                    <div class="navbar-custom-menu">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav" id="id_navbar" style="display: none">
                                <li ng-if="!esAdministrador() && !esProductor()">
                                    <a style="cursor: pointer" ng-href="#canasta/1">
                                        <i class="fa fa-shopping-cart"></i>&nbsp;
                                        <span>{{ num_productos }}</span>
                                    </a>
                                </li>
                                <li ng-if="actual_user && esConsumidor()">
                                    <a class="dropdown-toggle" id="dropdownMenu1" style="cursor: pointer;"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-star"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a ng-click="listaDeseos()" style="cursor: pointer;">Lista de Deseos</a>
                                        </li>
                                        <li><a ng-click="modalProductoNoExistente()" style="cursor: pointer;">Producto
                                            No Existente</a></li>
                                    </ul>
                                </li>
                                <li ng-if="actual_user">
                                    <a class="dropdown-toggle" id="dropdownMenu2" style="cursor: pointer;"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-user"></i>&nbsp;&nbsp;{{ actual_user.username }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/orden/1">Gestión Órdenes</a>
                                        </li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/producto/1">Gestión
                                            Productos</a></li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/productoTipo/1">Gestión
                                            Canastas</a></li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/precio/1">Gestión Precios</a>
                                        </li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/horario/1">Gestión Horarios</a>
                                        </li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/notificar">Gestión
                                            Notificaciones</a></li>
                                        <li ng-if="esAdministrador()"><a ng-href="#admin/productores/1">Gestión
                                            Productores</a></li>
                                        <li ng-if="esProductor()"><a ng-href="#productor/pedido/1">Pedidos</a></li>
                                        <li ng-if="esProductor()" role="separator"
                                            class="divider"></li>
                                        <li ng-if="esConsumidor()"><a ng-click="updateConsumidor()"
                                                                      style="cursor: pointer;">Perfil</a>
                                        <li ng-if="esProductor()"><a ng-click="updateProductor()"
                                                                     style="cursor: pointer;">Perfil</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-if="actual_user">
                                    <a ng-click="logout()" style="cursor: pointer;">
                                        <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Salir
                                    </a>
                                </li>
                                <li ng-if="!actual_user">
                                    <a ng-click="modalLogin()" style="cursor: pointer;">
                                        <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Ingresar
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                {% endangularjs %}
            </div>
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <input type="hidden" id="myCsrfInput" value="{{ csrf_token }}">
        {% angularjs %}
            <div ui-view></div>
        {% endangularjs %}
    </div>
    <div class="clearfix"></div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="pull-right">
            <b>Versión</b> 1.3.1
        </div>
        &nbsp;
    </footer>
</div>
<!-- ./wrapper -->

<!-- MODAL -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <div class="login-box">
                    <div class="login-logo" style="margin-bottom: 10px">
                        <span class="login-text">Canasta<b>ORGÁNICA</b></span>
                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body" style="padding-bottom: 10px">
                        {% if mensaje %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                {{ mensaje }}
                            </div>
                        {% endif %}
                        <div></div>
                        <p class="login-box-msg">Iniciar Sesión</p>
                        <form ng-submit="login()">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="userid" placeholder="Usuario"/>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" id="password" placeholder="Contraseña"/>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <p style="color: red; text-align: center" id="error_login"></p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                                        Entrar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row" style="text-align: center; margin-top: 25px">
                            <p>¿Necesitas una cuenta? <a ng-click="registroCliente()" style="cursor: pointer;">Regístrate
                                Gratis</a></p>
                            <p>¿Eres productor orgánico? <a ng-click="registroProductor()" style="cursor: pointer;">Trabaja
                                con
                                nosotros</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- modal lista de deseos -->
<div class="modal fade" id="modalListaDeseos" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-star"></i>&nbsp;&nbsp;Lista de Deseos</h4>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                {% angularjs %}
                    <div class="clearfix"></div>
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="producto in productos">
                            <td><img class="attachment-img" ng-src="{{ producto.foto }}"
                                     alt="Attachment Image" width="70px" height="70px">
                            </td>
                            <td>{{ producto.nombre }}</td>
                            <td>
                                <a href="#" ng-click="cambiarListaDeseos(producto.id, 1)">
                                    <i class="fa fa-star" style="font-size: 22px; margin-top: 8px; color: #00a65a"
                                       ng-if="producto.favorito"></i>
                                    <i class="fa fa-star-o" style="font-size: 22px; margin-top: 8px; color: #00a65a"
                                       ng-if="!producto.favorito"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endangularjs %}
            </div>
            <div class="modal-footer">
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Deseo Producto No Existente -->
<div class="modal fade" id="modalProductoNoExistente" tabindex="-1" role="dialog" aria-labelledby="view"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp;&nbsp;Producto Deseado No Existente</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <label>Nombre Producto</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <input type="text" class="form-control" placeholder="Producto ..." id="modalProdAd">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <label>Descripción</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <textarea class="form-control" rows="4" placeholder="Descripción ..."
                                  id="modalDescProdAd"></textarea>
                    </div>
                </div>
                {% angularjs %}
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-xs-8 col-xs-offset-4">
                            <span style="margin-top: 5px; color:RED">{{ mensaje }}</span>
                        </div>
                    </div>
                {% endangularjs %}
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <button type="button" ng-click="agregarProductoNoExistente()"
                                class="btn btn-primary btn-block btn-flat">Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Deseo Producto No Existente -->

<!-- SCRIPTS -->
<script src="{% static "js/angular/data/require-config.js" %}"></script>
<script src="{% static "3rdParty/plugins/jquery/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "3rdParty/AdminLTE/js/app.min.js" %}" type="text/javascript"></script>
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/angular/angular.min.js" %}"></script>
<script src="{% static "3rdParty/plugins/angular/angular-ui-router.js" %}"></script>
<script src="{% static "3rdParty/plugins/underscore/underscore-min.js" %}"></script>
<script src="{% static "3rdParty/plugins/restangular/restangular.min.js" %}"></script>
<script src="{% static "3rdParty/plugins/ngprogress/ngprogress.min.js" %}"></script>
<script src="{% static "3rdParty/plugins/oclazyload/ocLazyLoad.js" %}"></script>
<script src="{% static "js/angular/routes/routes.js" %}"></script>
<!-- Plugins Scripts -->
<script src="{% static "3rdParty/plugins/slimScroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/alertify/js/alertify.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/bootstrap-sweetalert/sweet-alert.min.js" %}"></script>
<!-- App Scripts -->
<script src="{% static "js/angular/app.js" %}"></script>
<script src="{% static "js/angular/services/app.canasta.svc.js" %}"></script>
<script src="{% static "js/angular/services/app.users.svc.js" %}"></script>
<script src="{% static "js/webApp.js" %}" type="text/javascript"></script>
<script>
    $(function () {
        if (!window.location.hash) {
            app_redirect("#/catalogo/1");
        }
        console.log("OK");
    });
</script>
</body>
</html>