{% extends 'base_pago_public_layout.html' %}
{% load staticfiles %}
{% load track_extra %}
{% block title %}Pagar{% endblock %}
{% block content_header %}
    <h1 class="page-header">Confirmación de Pago</h1>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#botonVolver").click(function () {
                var urlExito = $(this).data('urlexito') != undefined ? $(this).data('urlexito') : "";
                window.location.href = PAGOS.config.url_base + urlExito;
            });
        });
    </script>
    <div class="row" style="margin-top: 10px">
        <section class="invoice">
            <!-- Encabezado de pago -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        {% if estado == 'APR' %}
                            <i class="fa fa-check"></i> Transacción Aprobada
                        {% else %}
                            <i class="fa fa-close"></i> Transacción Declinada
                        {% endif %}
                    </h2>
                </div>
            </div>

            <!-- Fin Encabezado de pago -->
            <div class="row invoice-info">
                <div class="col-xs-12 invoice-col">
                    {% if estado == 'APR' %}
                        <dl style="font-size: 16px">
                            <dt>Transacción No</dt>
                            <dd>{{ transaccionId }}</dd>
                            <dt style="margin-top: 10px">Referencia de Pago</dt>
                            <dd>{{ referenciaPago }}</dd>
                            <dt style="margin-top: 10px">Fecha de Pago</dt>
                            <dd>{{ fechaTx | date:"m/d/Y" }}</dd>
                            <dt style="margin-top: 10px">Valor Total</dt>
                            <dd style="font-size: 20px">${{ valorTx }}</dd>
                        </dl>
                    {% else %}
                        <p>No hay suficientes unidades disponibles. Por favor vuelva a intentarlo.</p>
                    {% endif %}
                </div>
            </div>

            <div class="row no-print">
                <div class="col-xs-12">
                    <button id="botonVolver" type="button" class="btn btn-primary pull-right" style="margin-right: 5px;"
                            data-urlexito="">
                        <i class="fa fa-arrow-circle-left"></i> Volver
                    </button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}