{% extends 'base_pago_public_layout.html' %}
{% load staticfiles %}
{% load track_extra %}
{% block title %}Pagar{% endblock %}
{% block content_header %}
    <h1 class="page-header">Datos de la transacción</h1>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#botonPagar").click(function () {
                $("#modalPagar").modal();
            });

            $("#botonCancelar").click(function () {
                var urlCancelar = $(this).data('urlcancelar') != undefined ? $(this).data('urlcancelar') : "";
                window.location.href = PAGOS.config.url_base + urlCancelar;
            });

            $("#botonConfirmarPagar").click(function () {
                $("#transaccionPasarelaForm").submit();
            });
        });
    </script>
    <div class="row" style="margin-top: 10px">
        <section class="invoice">

            <!-- Encabezado de pago -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> Canasta Organica
                        <small class="pull-right">Fecha: {{ fechaPago | date:"m/d/Y" }}</small>
                    </h2>
                </div>
            </div>
            <!-- Fin Encabezado de pago -->
            <div class="row invoice-info">
                <div class="col-xs-12 invoice-col">
                    <dl style="font-size: 16px">
                        <dt>Referencia de Pago</dt>
                        <dd>{{ referenciaPago }}</dd>
                        <dt style="margin-top: 10px">Fecha de Pago</dt>
                        <dd>{{ fechaPago | date:"m/d/Y" }}</dd>
                        <dt style="margin-top: 10px">Valor Total</dt>
                        <dd style="font-size: 20px">${{ valor }}</dd>
                    </dl>
                </div>
            </div>

            <div class="row no-print">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success pull-right" id="botonPagar"><i
                            class="fa fa-credit-card"></i> Pagar
                    </button>
                    <button id="botonCancelar" type="button" class="btn btn-primary pull-right"
                            style="margin-right: 5px;" data-urlcancelar="">
                        <i class="fa fa-arrow-circle-left"></i> Cancelar
                    </button>
                </div>
            </div>

        </section>
    </div>

    <!-- Modals -->

    <div class="modal fade" id="modalPagar" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Confirmar Pago</h4>
                </div>
                <div class="modal-body">
                    <p>¿Desea realizar el pago?</p>
                </div>
                <div class="modal-footer">
                    <form role="form" action="{% url 'confirmarPago' %}" method="post" id="transaccionPasarelaForm">
                        {% csrf_token %}
                        <input type="hidden" name="referenciaPago" id="referenciaPago" value="{{ referenciaPago }}">
                        <input type="hidden" name="fechaTx" id="fechaTx" value="{{ fechaPago | date:"m/d/Y" }}">
                        <input type="hidden" name="valorTx" id="valorTx" value="{{ valor }}">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="botonConfirmarPagar">Confirmar
                        </button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- Fin Modals -->
{% endblock %}