<div class="container" ng-controller="PedidosCtrl">
    <section class="content-header">
        <h1 class="page-header">Pedidos
            <small>CanastaOrgánica</small>
        </h1>
    </section>

    <section class="content" style="padding-top: 5px">
        <div id="id_loading" class="overlay" style="text-align: center; font-size: 35px">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="box" id="id_pedido_wrapper" style="display: none">
                <div class="box-body table-responsive">
                    <table ng-if="pedidos.length > 0" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Unidades</th>
                            <th>Valor Unitario</th>
                            <th>Valor Total</th>
                        </tr>
                        <tr ng-repeat="pedido in pedidos">
                            <td style="width: 150px;">
                                <img class="pedido-table-img" ng-src="{{ pedido.producto.foto }}">
                            </td>
                            <td>{{ pedido.producto.nombre }}</td>
                            <td>{{ pedido.cantidadVendida }}</td>
                            <td>{{ pedido.valorCompra }}</td>
                            <td>{{ pedido.cantidadVendida*pedido.valorCompra }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!pedidos.length > 0" class="col-xs-12">
                        <p style="margin-top: 5px">No hay pedidos para esta semana.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div ng-if="pedidos.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#productor/pedido/{{ num_anterior }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#productor/pedido/{{ ($index+1) }}">
                            {{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page"
                           ng-href="#productor/pedido/{{ num_siguiente }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>
</div>