<div class="container" ng-controller="CanastaCtrl">
    <section class="content-header">
        <h1 class="page-header">Mi Carro
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Mi Carro</li>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <!-- catalogo -->
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-8 col-md-9 col-sm-7 col-xs-12" style="padding: 0">
                <div id="id_loading" class="overlay" style="text-align: center; font-size: 35px">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="row">
                    <div id="id_canasta_wrapper" style="display: none">
                        <div ng-if="items.length > 0">
                            <div ng-repeat="item in items" class="col-md-6 col-sm-12 col-xs-12 portfolio-item">
                                <div class="box box-success">
                                    <table class="table" style="margin-bottom: 0">
                                        <thead class="thead-inverse">
                                        <tr class="text-xs-center">
                                            <th>
                                                <div class="row">
                                                    <div class="col-xs-11">
                                                        <h3 align="center"
                                                            style="margin: 8px">{{ item.producto.producto.nombre }}</h3>
                                                    </div>
                                                    <div class="col-xs-1" style="padding: 3px 15px 0 0">
                                                        <button type="button" class="close" style="font-size: 35px"
                                                                ng-click="eliminarItem(item.id)">×
                                                        </button>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img ng-src="{{ item.producto.producto.foto }}" alt="" width="100%"
                                                     height="250">
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th class="th-footer-h5">
                                                <div class="col-xs-7"><h5>Precio Unitario</h5>
                                                    <h3 align="center" style="margin: 7px">
                                                        ${{ item.producto.valorVenta }}
                                                        <small>{{ item.producto.producto.tipoUnidad.nombre }}</small>
                                                    </h3>
                                                </div>
                                                <div class="col-xs-5"><h5>Cantidad</h5>
                                                    <h3 align="center" style="margin: 7px">{{ item.cantidad }}
                                                        <small>
                                                            {{ item.producto.producto.tipoUnidad.nombre }}<span
                                                                ng-if="item.cantidad != 1">s</span>
                                                        </small>
                                                    </h3>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!items.length > 0" class="col-xs-12">
                            <p style="padding-left: 15px">No hay productos en el carro. Ir al <a
                                    ng-href="#catalogo/1/0">catálogo</a>.</p>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
                <div ng-if="items.length > 0" class="row text-center">
                    <div class="col-xs-12">
                        <ul class="pagination" style="margin-top: 0">
                            <li ng-class="{'disabled': num_anterior == page}">
                                <a ng-if="num_anterior < page" ng-href="#canasta/{{ num_anterior }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <a ng-if="num_anterior == page" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                                <a ng-if="($index+1) != page" ng-href="#canasta/{{ ($index+1) }}">{{ ($index+1) }}</a>
                                <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                            </li>
                            <li ng-class="{'disabled': num_siguiente == page}">
                                <a ng-if="num_siguiente > page" ng-href="#canasta/{{ num_siguiente }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <a ng-if="num_siguiente == page" aria-label="Next"><span
                                        aria-hidden="true">&raquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /pagination -->
            </div>
            <div ng-if="items.length > 0" class="col-lg-4 col-md-3 col-sm-5 col-xs-12"
                 style="padding: 10px 25px">
                <dl>
                    <dt>Número de Productos</dt>
                    <dd>{{ num_productos }}</dd>
                    <dt>Horario Distribución</dt>
                    <dd>{{ horario_distribucion.label }} | &nbsp;<a
                            style="cursor: pointer" ng-click="cambiarHorarioDistribucion()"><i
                            class="fa fa-calendar"></i>&nbsp;Cambiar</a>
                    <dt>Costo Productos</dt>
                    <dd>${{ valor_items }}</dd>
                    <dt>Costo Envío</dt>
                    <dd>${{ valor_envio }}</dd>
                    </dd>
                    <dt>TOTAL</dt>
                    <dd style="font-size: 20px">${{ valor_items + valor_envio }}</dd>
                </dl>
                <div>
                    <a ng-if="user_athenticated" ng-click="pagar()" class="btn btn-primary">Pagar</a>
                    <p ng-if="!user_athenticated" style="text-decoration: underline">Debe iniciar sesión para realizar
                        la compra.</p>
                </div>
            </div>
        </div>
        <!-- /catalogo -->
    </section>

    <!-- modals -->
    <!-- Horario Distribución -->
    <div class="modal fade" id="modalHorarioDistribucion" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Horario de Distribución</h4>
                </div>
                <div class="modal-body">
                    <p>Seleccione un Horario de Distribución:</p>
                    <select class="form-control"
                            ng-options="horario as horario.label for horario in horarios track by horario.id"
                            ng-model="horario_distribucion"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cambiarHorarioDistribucion()">Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Horario Distribución -->

    <!-- modal Items No Disponibles -->
    <div class="modal fade" id="modalItemsNoDisponibles" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Productos No Disponibles</span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                    <div class="clearfix"></div>
                    <span style="color: red">No existen unidades disponibles de los siguientes productos</span>
                    <br>
                    <div class="clearfix"></div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Producto</th>
                            <th></th>
                            <th>Cantidad</th>
                        </tr>
                        <tr ng-repeat="itemNoDisp in itemsNoDisponibles">
                            <td><img class="attachment-img" ng-src="{{ itemNoDisp.producto.producto.foto }}"
                                     alt="Attachment Image" width="50px" height="50px">
                            </td>
                            <td>{{ itemNoDisp.producto.producto.nombre }}</td>
                            <td>{{ itemNoDisp.cantidad }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <span class="text-center" style="color: red">Desea continuar la compra sin estos productos</span>
                </div>
                <div class="modal-footer">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <button type="button" ng-click="modalAceptarPago()"
                                    class="btn btn-primary btn-block btn-flat">Aceptar
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" ng-click="modalCancelarPago()"
                                    class="btn btn-primary btn-block btn-flat">Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal Items No Disponibles -->
    </div>
    <!-- /modals -->
</div>