<div class="container" ng-controller="CatalogoCtrl">
    <section class="content-header">
        <h1 class="page-header">Catálogo
            <small>CanastaOrgánica</small>
        </h1>
        <ol class="breadcrumb" style="padding-top: 0">
            <li>
                <span>Filtro:&nbsp;&nbsp;</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-class="{'disabled': !certificado}"
                            ng-click="filtroTodos()">Todos
                    </button>
                    <button type="button" class="btn btn-success" ng-class="{'disabled': certificado}"
                            ng-click="filtroCertificado()">Certificados
                    </button>
                </div>
            </li>
        </ol>
    </section>
    <section class="content" style="padding-top: 5px">
        <div id="id_loading" class="overlay" style="text-align: center; font-size: 35px">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <!-- catalogo -->
        <div class="row" style="margin-top: 10px">
            <div id="id_catalogo_wrapper" style="display: none">
                <div ng-if="ofertas.length > 0">
                    <div ng-repeat="oferta in ofertas" class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                        <div class="box box-success">
                            <table class="table" style="margin-bottom: 0">
                                <thead class="thead-inverse">
                                <tr class="text-xs-center">
                                    <th>
                                        <h3 align="center" style="margin: 8px">{{ oferta.producto.nombre }}</h3>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="padding: 3px">
                                        <div id="wrap_prod{{ oferta.id }}" style="height: 250px">
                                            <img id="img_prod{{ oferta.id }}"
                                                 ng-src="{{ oferta.producto.foto }}"
                                                 alt="" width="100%" height="100%">
                                            <div id="desc_prod{{ oferta.id }}"
                                                 style="display: none; height: 100%">
                                                <div class="attachment-block clearfix" style="height: 100%">
                                                    <img class="attachment-img" ng-src="{{ oferta.producto.foto }}"
                                                         alt="Attachment Image">
                                                    <div class="attachment-pushed">
                                                        <div class="attachment-text" style="max-height: 200px;
                                                        overflow-y: scroll; font-size: 13px; text-align: justify">
                                                            {{ oferta.producto.descripcion }}<p></p>
                                                            <p ng-repeat="detalle in oferta.detalles">
                                                                {{ detalle.cantidad }}
                                                                {{ detalle.cantidad < 2 ? detalle.producto.producto.tipoUnidad.nombre : detalle.producto.producto.tipoUnidad.nombre +'s'}}
                                                                {{ detalle.producto.producto.nombre }}
                                                            </p>

                                                        </div>
                                                        <!-- /.attachment-text -->
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <dl class="dl-horizontal" style="margin-top: 5px; font-size: 18px">
                                                        <dt>Disponibilidad</dt>
                                                        <dd id="unidades_prod{{ oferta.id }}">-</dd>
                                                    </dl>
                                                    <!-- /.attachment-pushed -->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <a href="#" ng-click="cambiarListaDeseos(oferta.producto.id, 0)"
                                                   ng-if="user_athenticated">
                                                    <i class="fa fa-star"
                                                       style="font-size: 22px; margin-top: 8px; margin-left: 5px; color: #00a65a"
                                                       ng-if="oferta.producto.favorito"></i>
                                                    <i class="fa fa-star-o"
                                                       style="font-size: 22px; margin-top: 8px; margin-left: 5px; color: #00a65a"
                                                       ng-if="!oferta.producto.favorito"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-8">
                                                <h3 align="center" style="margin: 7px">${{ oferta.valorVenta }}
                                                    <small>{{ oferta.producto.tipoUnidad.nombre }}</small>
                                                </h3>
                                            </div>
                                            <div class="col-xs-2">
                                                <a href="javascript:void(0);" class="open-AdicionarCanasta"
                                                   data-nombre="{{ oferta.producto.nombre }}"
                                                   data-tipo_unidad="{{ oferta.producto.tipoUnidad.nombre }}"
                                                   data-id_producto="{{ oferta.id }}"
                                                   data-cantidad_disponible="{{ oferta.producto.tipoUnidad.nombre }}"
                                                   data-valor_venta="{{ oferta.valorVenta }}">
                                                    <i class="fa fa-cart-plus"
                                                       style="font-size: 22px; margin-top: 8px; color: #00a65a"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-if="!ofertas.length > 0" class="col-xs-12">
                    <p>No hay productos para esta semana.</p>
                </div>
            </div>
        </div>
        <!-- /catalogo -->

        <!-- pagination -->
        <div ng-if="ofertas.length > 0" class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination" style="margin-top: 0">
                    <li ng-class="{'disabled': num_anterior == page}">
                        <a ng-if="num_anterior < page" ng-href="#catalogo/{{ num_anterior }}/{{ certificado ? 1 : 0  }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a ng-if="num_anterior == page" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li ng-repeat="i in num_pages track by $index" ng-class="{'active': ($index+1) == page}">
                        <a ng-if="($index+1) != page" ng-href="#catalogo/{{ ($index+1) }}/{{ certificado ? 1 : 0 }}">
                            {{ ($index+1) }}</a>
                        <a ng-if="($index+1) == page">{{ ($index+1) }}</a>
                    </li>
                    <li ng-class="{'disabled': num_siguiente == page}">
                        <a ng-if="num_siguiente > page"
                           ng-href="#catalogo/{{ num_siguiente }}/{{ certificado ? 1 : 0  }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a ng-if="num_siguiente == page" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /pagination -->
    </section>

    <!-- modals -->
    <!-- Adicionar Carro -->
    <div id="adicionarCanasta" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;Agregar al Carro</h4>
                </div>
                <form id="formProducto" action="" method="post"
                      oninput="resultado.value=parseInt(precioUnitario.outerText)*parseInt(cantidad.value)">
                    <div class="modal-body">
                        <h3 id="modal-nombre" align="center" style="margin-top: 5px"></h3>
                        <span id="idProducto" style="display:none;"></span>
                        <!-- Cantidad -->
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3">
                                <h5><strong>Cantidad</strong>:</h5>
                            </div>
                            <div class="col-xs-3">
                                <input type="number" class="form-control bfh-number" min="1"
                                       id="cantidad" name="cantidad" value="1">
                            </div>
                            <div class="col-xs-3" style="padding-left: 0">
                                <h5 id="modal-tipoUnidad" align="left"></h5>
                            </div>
                        </div>

                        <!-- Valor Unitario -->
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3">
                                <h5><strong>Valor Unitario</strong>:</h5>
                            </div>
                            <div class="col-xs-3">
                            <span style="margin-top: 7px; display: block;" id="precioUnitario"
                                  name="precioUnitario"></span>
                            </div>
                            <div class="col-xs-3">
                            </div>
                        </div>
                        <!-- Valor Total -->
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3">
                                <h5><strong>Valor Total</strong>:</h5>
                            </div>
                            <div class="col-xs-3">
                                <span style="margin-top: 5px"><output name="resultado" id="resultado"
                                                                      for="precioUnitario cantidad"></output></span>
                            </div>
                            <div class="col-xs-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-4">
                                <span style="margin-top: 5px; color:RED" id="mensaje"></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="button" ng-click="agregarCarro()"
                                        class="btn btn-primary btn-block btn-flat">Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Adicionar Carro -->
    <!-- /modals -->
</div>